
#splashscreen {
    height: 30%;
    width: 36%;
    margin: auto;
    border-radius: 5px;
    padding-top: 200px;
}

h1 {
    font-size: 2.5em;
}

.card-title {
    margin-right: 100px;
}

.card-text {
    margin-right: 30px;
}



#band-search{
    width: 500px;
    height: 45px;
    border-radius: 25px;
    user-select: none;
    outline: none;
    margin: 5px;
}
.start-btn {
    position: relative;
    left: 190px;
}
body{
    background-color: #001f3f;
}
.band{ 
    color: yellow;
    font-family: 'Monoton', cursive;
    text-align: center;
}
.jumbotron {
    border-radius: 0rem;
    padding: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(133, 13, 13, 0.19);
    /* background-image: linear-gradient(#85144b,#FF4136); */
    background-image: linear-gradient(#001f3f,#0074D9);

}

.rounded-circle {
    border-radius: 50%!important;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-width: 3px !important;
    border-style: solid;
    border-color: #FFFFFF !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(133, 13, 13, 0.19);
}

.band-name {
    /* font-family: 'Arvo', serif; */
    /* font-family: 'Shadows Into Light', cursive; */
    /* font-family: 'Permanent Marker', cursive; */
    font-family: 'Rock Salt', cursive;
    /* font-family: 'Press Start 2P', cursive; */
    /* font-family: 'Monoton', cursive; */
    /* font-family: 'Noto Serif JP', serif; */
    font-size: 15px;
    color: #FFFFFF;    
}

h1 {
    padding-top: 1rem;
    /* padding-bottom: 1rem; */
    text-shadow: 2px 2px 4px #000000;
}

.navbar-brand {
    font-family: 'Monoton', cursive;
}
.bandPageNew {
    display: none;
    width: 100%
}
@media only screen and (max-width: 768px){
    #band-search{
        width: 400px;
        margin: auto;
    }
    #splashscreen {
        width: 500px;
        margin: auto;
    }
    
}
@media only screen and (max-width: 500px){
    #band-search{
        width: 400px;
        margin: auto;
    }
    #splashscreen {
        width: 500px;
        margin: 0px;
    }
    
}