
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
#splashscreen {
    height: 30%;
    width: 36%;
    margin: auto;
    border-radius: 5px;
    padding-top: 200px;
}

h1 {
    font-size: 2.5em;
}


.card{
    margin: 5px;
}
.venue {
    font-size: 12px;
}

.artist-header {
    font-size: 32px;
    /* line-height: 1.2rem !important; */
}

.card-title {
    padding-top: 15px;}
h3 {
    font-size: 20px;
}
h4 {
    font-size: 26px;
}

.col-md-3 {
    padding-top: 30px;
    padding-right: 0px;
    padding-left: 0px;
}

.card-text {
    margin-right: 30px;
}

.carD {
    margin-top: 30px !important;
}



#band-search{
    width: 500px;
    height: 45px;
    border-radius: 25px;
    user-select: none;
    outline: none;
    margin: 5px;
}
.start-btn {
    position: relative;
    left: 190px;
}
body{
    background-color: #001f3f;
}
.band{ 
    color: yellow;
    font-family: 'Pacifico', cursive;
    text-align: center;
}

.jumbotron {
    border-radius: 0rem;
    padding: 1rem;
    box-shadow: 0 4px 8px 0 rgba(252, 219, 219, 0.2), 0 6px 20px 0 rgba(133, 13, 13, 0.19);
    /* background-image: linear-gradient(#85144b,#FF4136); */
    background-image: url("texture-background.jpg");

}

.rounded-circle {
    border-radius: 50%!important;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-width: 3px !important;
    border-style: solid;
    border-color: #FFFFFF !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(133, 13, 13, 0.19);
}

.rounded-circle2 {
    border-radius: 50%!important;
    width: 125px;
    height: 125px;
    object-fit: cover;
    border-width: 3px !important;
    border-style: solid;
    border-color: #FFFFFF !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(133, 13, 13, 0.19);
}

.containerR {
    max-width: 100% !important;
}

.band-name {
    font-family: 'Rock Salt', cursive;
    font-size: 40px;
    color: #FFFFFF;
    padding-top: 15px;
    text-shadow: 2px 2px 4px #000000; 
}

h1 {
    padding-top: 1rem;
    /* padding-bottom: 1rem; */
    text-shadow: 2px 2px 4px #000000;
}

.navbar-brand {
    font-family: 'Pacifico', cursive;
    font-size: 20px;
}
.bandPageNew {
    display: none;
    width: 100%
}
.tix-btn{
    float: right;
}
.card-header {
    font-size: 22px;
}


#noshows {
    text-align:center;
    margin-left:30px;
    
}
@media only screen and (max-width: 768px){
    #band-search{
        width: 400px;
        margin: auto;
    }
    #splashscreen {
        width: 500px;
        margin: auto;
    }
    
}
@media only screen and (max-width: 500px){
    #band-search{
        width: 400px;
        margin: auto;
    }
    #splashscreen {
        width: 500px;
        margin: 0px;
    }
    .artist-info {
        height: 200px;
        overflow: scroll;
    }
    .cardHolder {
        height: 400px;
        overflow: scroll;
    }
    
}
